<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
</head>
<body>
    <div align="center">
        <h2>Tìm Kiếm Thông Tin</h2>
        <form action="C_Student.php" method="GET">
            <input type="radio" name="select" value="id" checked>Id học sinh
            <input type="radio" name="select" value="name">Họ Tên
            <input type="radio" name="select" value="age">Tuổi
            <input type="radio" name="select" value="university">Trường
            <br><br>
            <input type="text" name="search"> 
            <input type="submit" name="submit" value="OK">
        </form>
    </div>
    <hr>
</body>
            